<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      box-sizing: border-box;
      margin: 0; 
      background-color: black;
    }

    .container {
      height: 98vh;
      background: url("https://media.tenor.com/8W99qKjU2FEAAAAC/hampe-to-hai-no.gif");
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
    }
  </style>
  <head>
    <title>Page not found</title>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
